<div class="card" style="width: inherit">
    <div class="card-body">
        <form action={{action}} method="post" id="commentForm">
            <div>
                <table>
                    <td>
                        <img src="/images/dumb.jpg" height="20px" width="20px" style="border-radius: 50%;">
                    </td>
                    <td>
                        {{name}}
                    </td>
                </table>
            </div>
            <div>
                {{>starRatingButton}}
            </div>
            <textarea cols="50" rows="2" name="comment"></textarea><br>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>