<div class="card" style="width: auto;">
    <h1 class="main-rating">{{rating}}</h1>
    <div class="card-body">
        <table>
            {{{ratingBarHelper ratingArr}}}
        </table>
    </div>
</div>

