{{#each comments as |cmnt|}}
    <div class="card">
        <div class="card-body">
            <div>
                <table style="width: 100%">
                    <td style="width: 10%">
                        <img src="/images/dumb.jpg" height="40px" width="40px" style="border-radius: 50%;">
                    </td>
                    <td style="width: 20%; font-size: 20px">
                        <a href="#">{{name}}</a><br>
                        <small style="font-size: 15px">{{post_date}}</small>
                    </td>
                    <td style="width: 70%;">
                        <div style="float: right">
                            {{{starString star}}}
                        </div>
                    </td>
                </table>
            </div>
            <hr>
            <p>
                {{cmnt.comment}}
            </p>
        </div>
    </div>
{{/each}}
