<div class="container main">
    <div class="row pt-3 px-5">
        <div>
            <h1>Recent activities</h1>
            <hr>
        </div>
        <div class="row p-3">
            <div class="col">
                <form action="/regi/owner" id="activities" method="post">
                    <label>Activity</label>
                    <select name="activity">
                        <option value="all">All</option>
                        <option value="request">Request</option>
                        <option value="leave">Leave Notice</option>
                        <option value="follow">Follow</option>
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;

                    <label>House</label>
                    <select name="house">
                        <option value="all">All</option>
                        {{#each house}}
                            <option value={{id}}>{{name}}</option>
                        {{/each}}
                    </select>&nbsp;&nbsp;&nbsp;&nbsp;

                    <label>Sort</label>
                    <select name="sort">
                        <option value="newest">Newest</option>
                        <option value="rating">Rating</option>
                        <option value="duration">Average Stay Duration</option>
                    </select>&nbsp;&nbsp;&nbsp;
                    <input type="submit" value="Filter">
                </form>
            </div>
        </div>
        <div class="container" style=" height: 600px; overflow: scroll; ">
            {{>notification-card}}
        </div>
    </div>
</div>
