<div class="container main">
    <div class="row pt-3 px-5">
        <div>
            <h1>Recent activities</h1>
            <hr>
        </div>
        <div class="row p-3">
            <div class="col">
                {{#if isOwner}}
                <form action="/owner/dashboard" id="activities" method="get">
                {{else}}
                <form action="/tenant/dashboard" id="activities" method="get">
                {{/if}}
                <label>Dashboard</label>
                <select name="activity">
                    <option value="">All</option>
                    <option value="request">Request</option>
                    <option value="leave">Leave Notice</option>
                    <option value="follow">Follow</option>
                    <option value="deal">Contract</option>
                </select>&nbsp;&nbsp;&nbsp;&nbsp;

                <label>House</label>
                <select name="house">
                    <option value="">All</option>
                    {{#each house}}
                        <option value={{HOUSE_ID}}>House - {{HOUSE_ID}}</option>
                    {{/each}}
                </select>&nbsp;&nbsp;&nbsp;&nbsp;

                <input type="submit" value="Filter">
            </form>
            </div>
        </div>
        <div class="container" style=" height: 600px; overflow: scroll; ">
            {{>notification-card}}
        </div>
    </div>
</div>
