<div style="text-align: right;">
    <a href="/regi/owner">Register as Owner</a>
    <a href="/regi/tenant">Register as Tenant</a>
    <a href="/login">Sign in</a>
</div>
<div style="text-align: center; background-color:red">
    <h1>Welcome to HomeSpaces!</h1>
</div>
