<div class="container main">
    <div class="row p-5 justify-content-center">
        {{>houseCards}}
        <div class="col p-2">
            <div class="card" style="width: 18rem;">
                <div class="card-body mx-auto">
                    <input type="image" src="/images/plus-sign.png" href="">
                </div>
            </div>
        </div>
    </div>
</div>