<div class="container main">
    <div class="row px-5 pt-2">
        <div class="col-3">
            <form action="/house/list/{{id}}" method="get">
                <select name="sort">
                    <option value="RATING">Rating</option>
                    <option value="PRICE">Price</option>
                    <option value="SPACE">Space</option>
                </select>
                <select name="order">
                    <option value="ASC">Ascending</option>
                    <option value="DESC">Descending</option>
                </select>
                <input type="submit" value="Sort">
            </form>
        </div>
    </div>
    <hr>
    <div class="row px-5 pb-5 pt-2 justify-content-center">
        {{>house-card}}
        {{#if isOwner}}
            <div class="col p-2">
                <div class="card" style="width: 18rem; height: inherit">
                    <div class="card-body">
                        <div class="row p-5"></div>
                        <div class="row p-5" style="text-align: center">
                            <a href="/house/form">
                                <button><i class="far fa-plus-square fa-10x"></i></button>
                            </a>
                        </div>
                        <div class="row p-5"></div>
                    </div>
                </div>
            </div>
        {{/if}}
    </div>
</div>