<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="card p-0" style="width: auto;">
            <div class="card-title center p-1 pt-3">
                <h2>Login</h2>
                <hr style="border-style: double">
            </div>
            <hr>
            <div class="card-body">
                <form action="/login" method="POST">

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Email :</div>
                    <div><input style="width: 100%;" type="email" name="email"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Password :</div>
                    <div><input style="width: 100%;" type="password" name="password"></div>

                    <div style="padding-bottom: 12px; padding-top: 20px; font-size: large">
                        <input type="reset" value="Reset">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
