<script>
    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(position => {
                let x = position.coords.latitude;
                let y = position.coords.longitude;

                fetch(`https://nominatim.openstreetmap.org/reverse?format=jsonv2&lat=${x}&lon=${y}&zoom=16&addressdetails=1`)
                        .then(response => response.json())
                        .then(data => {
                            console.log(data);
                            let str = '';
                            str = str.concat(data['address']['suburb'], ', ', data['address']['state_district']);
                            document.getElementById("loc").value = str;
                            document.getElementById("lat").value = x;
                            document.getElementById("lon").value = y;
                        });
            });
        }
    }
</script>

<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="card p-0" style="width: auto;">
            <div class="card-title center p-1 pt-3">
                <h2>{{type}} Registration</h2>
                <hr style="border-style: double">
            </div>
            <hr>
            <div class="card-body">
                <form action="/regi/owner" method="POST">

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Username :</div>
                    <div><input style="width: 100%;" type="text" name="username"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Password :</div>
                    <div><input style="width: 100%;" type="password" name="password"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Phone no. :</div>
                    <div><input style="width: 100%;" type="tel" pattern="01[0-9]{9}" name="phone"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Email :</div>
                    <div><input style="width: 100%;" type="email" name="email"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">
                        Location :
                        <button type="button" style="font-size: small; float: right" onclick="getLocation()">
                            get location from IP address
                        </button>
                    </div>
                    <div>
                        <label>Latitude: </label>
                        <input style="width: auto" id="lat" type="text" name="lat"><br>
                        <label>Longitude: </label>
                        <input style="width: auto" id="lon" type="text" name="lon">
                    </div>
                    <div>
                        <label>Address: </label>
                        <input id="loc" type="text">
                    </div>

                    {{#if cndtn}}
                        <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Category :</div>
                        <div>
                            <label>
                                <input style="width: 100%;" list="category" name="category">
                            </label>
                            <datalist id="category">
                                <option value="Individual owner">
                                <option value="Real Estate Agency">
                                <option value="Hostel Provider">
                            </datalist>
                        </div>

                    {{else}}
                        <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Job :</div>
                        <div><input style="width: 100%;" type="text" name="job"></div>

                        <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Family Members :</div>
                        <div><input style="width: 100%;" type="number" name="members"></div>
                    {{/if}}

                    <div style="padding-bottom: 7px; padding-top: 13px; font-size: large">
                        <input type="reset" value="Reset">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
