<div class="container">
    <div class="row p-5 justify-content-center">
        <div class="card p-0" style="width: auto;">
            <div class="card-title center p-1 pt-3">
                <h2>{{type}} Registration</h2>
                <hr style="border-style: double">
            </div>
            <hr>
            <div class="card-body">
                <form action="/regi/owner" method="POST">

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Username :</div>
                    <div><input style="width: 100%;" type="text" name="username" value="rab"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Password :</div>
                    <div><input style="width: 100%;" type="password" name="password"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Full Name :</div>
                    <div><input style="width: 100%;" type="text" name="fullName"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Phone no. :</div>
                    <div><input style="width: 100%;" type="tel" pattern="01[0-9]{9}" name="phone"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Email :</div>
                    <div><input style="width: 100%;" type="email" name="email"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Photo :</div>
                    <div><input style="width: 100%;" type="file" accept=".jpg,.png" name="photo"></div>

                    <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Location :</div>
                    <div><input style="width: 100%;" type="text" name="location"></div>

                    {{#if cndtn}}
                        <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Catagory :</div>
                        <div>
                            <label>
                                <input style="width: 100%;" list="catagory" name="catagory">
                            </label>
                            <datalist id="catagory">
                                <option value="Individual owner">
                                <option value="Real Estate Agency">
                                <option value="Hostel Provider">
                            </datalist>
                        </div>

                    {{else}}
                        <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Job :</div>
                        <div><input style="width: 100%;" type="text" name="job"></div>

                        <div style="padding-bottom: 7px; padding-top: 10px; font-size: large">Family Members :</div>
                        <div><input style="width: 100%;" type="number" name="members"></div>
                    {{/if}}

                    <div style="padding-bottom: 7px; padding-top: 13px; font-size: large">
                        <input type="reset" value="Reset">
                        <input type="submit" value="Submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div>-->
<!--    <h2>{{type}}</h2>-->
<!--</div>-->