<div class="sidebar-right">
    <form action="/tenant/search" method="post">
        <div class="row p-1"><h3>PLACES</h3></div>
        <div class="row p-1">
            <div class="col">
                <label for="suburb">Suburb </label>
                <input type="text" name="suburb">
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label for="district">District </label>
                <input type="text" name="district">
            </div>
        </div>

        <div class="row p-1"><h3>HOUSE TYPE</h3></div>
        <div class="row p-1">
            <div class="col">
                <label for="rating">Rating </label><br>
                <input type="number" min="0" max="5" name="rating_low" placeholder="min">
                <label> - </label>
                <input type="number" min="0" max="5" name="rating_high" placeholder="max">
            </div>
        </div>
        <div class="row p-1">
            <label for="price">Price Range </label>
            <div class="col"><input type="number" min="0" name="price_low" placeholder="min"></div>
            <div class="col"><input type="number" min="0" name="price_high" placeholder="max"></div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label for="space">Space </label>
                <input type="number" min="0" name="space" placeholder="in sq ft">
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label for="floor">Floor level </label>
                <input type="number" min="0" name="floor">
            </div>
        </div>

        <div class="row p-1">
            <div class="col">
                <label for="bedroom">Number of Bedrooms </label>
                <input type="number" min="0" name="bedroom">
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label for="bathroom">Number of Bathrooms </label>
                <input type="number" min="0" name="bathroom">
            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <label for="garage">Garage</label>
                <input type="checkbox" id="garage" name="garage" value="yes">&nbsp;&nbsp;
                <label for="lift">Lift</label>
                <input type="checkbox" id="lift" name="lift" value="yes">

            </div>
        </div>
        <div class="row p-1">
            <div class="col">
                <input type="submit" value="Search">
                <input type="reset" value="Clear All">
            </div>
        </div>

    </form>
</div>

<div class="container main-search">
    <div class="row p-2" style="text-align: right">
        <div>
            <button class="btn btn-danger">Sort by</button>
        </div>
    </div>
    <div class="row p-2 justify-content-center">
        {{>houseCards}}
    </div>
</div>