#cont {
    height:210px;
    position:relative;
    overflow:hidden;
}

.photobanner {
    position:absolute;
    /*top:0px;*/
    /*left:0px;*/
    overflow:hidden;
    white-space: nowrap;
    animation: bannermove 4s linear infinite;
}

.photobanner:hover {
    animation-play-state: paused;
}

.photobanner img {
    margin: 0 0.5em
}

@keyframes bannermove {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-50%, 0);
    }
}

