.main-rating {
    text-align: center;
    font-size: 450%;
}

progress {
    background: white;
    height: 7px;
    vertical-align: center;
    box-sizing: content-box;
    border: 1px double black;
}

progress::-webkit-progress-value {
    background: black;
    height: 7px;
    vertical-align: center;
}

progress::-webkit-progress-bar{
    background-color: white;
    vertical-align: center;
    height: 7px;
}