* {
    font-family: 'ubuntu', sans-serif;
    font-weight: normal;
}

button, input[type=submit], input[type=reset] {
    border-radius: 8px;
    border: 1px solid rebeccapurple;
    padding: 0.2em 1.2em;
    font-size: 100%;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: rebeccapurple;
    color: floralwhite;
    border-color: #68686c;
}

input, textarea {
    border-radius: 20px;
}

.wide-button {
    padding: 0.3em 5em;
}

select {
    background-color: white;
    color: rebeccapurple;
    font-weight: bold;
    padding: 0.3em 1.2em;
}

a {
    color: rebeccapurple;
}

a:hover {
    color: purple;
}

.profile-pic {
    border-radius: 50%;
    border: 2px solid rebeccapurple;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.navbar {
    height: 50px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    background-color: rgb(91, 21, 21);
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar-right {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: calc(100% - 300px);
    background-color: aquamarine;
    overflow-x: hidden;
    padding-top: 20px;
}

.center {
    display: flex;
    justify-content: center;
}

.main {
    width: calc(100% - 200px);
    height: calc(100% - 50px);
    margin-left: 200px;
    margin-top: 50px;
}

.main-search {
    width: calc(100% - 200px - 300px);
    height: calc(100% - 50px);
    background-color: beige;
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
    top: 100px;
}

#house-description {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
}