* {
    font-family: 'ubuntu', sans-serif;
    font-weight: normal;
}

button, input[type=submit], input[type=reset] {
    border: 1px solid black;
    padding: 0.2em 1.2em;
    font-size: 100%;
    font-weight: 500;
    font-family: inherit;
    background-color: white;
    cursor: pointer;
    transition: 0.2s;
}

button:hover, input[type=submit]:hover, input[type=reset]:hover {
    background-color: black;
    color: floralwhite;
    border-color: black;
}

.revert-button {
    border: 1px solid black;
    padding: 0.2em 1.2em;
    font-size: 100%;
    font-weight: 500;
    font-family: inherit;
    background-color: black;
    color: floralwhite;
    cursor: pointer;
    transition: 0.1s;
}

.revert-button:hover {
    background-color: black;
    color: floralwhite;
}

input, textarea {
    border-width: 1px;
    border-color: black;
    padding-left: 17px;
    padding-right: 17px;
    transition: 0.2s;
}

input:hover, textarea:hover {
    border-width: 2px;
}

.wide-button {
    padding: 0.3em 5em;
}

select {
    background-color: white;
    color: black;
    font-weight: bold;
    padding: 0.3em 1.2em;
}

a {
    font-weight: bold;
    color: black;
    text-decoration: none;
    transition: 0.2s;
}

a:hover {
    color: slategray;
    text-decoration: underline;
}

.profile-pic {
    border-radius: 50%;
    border: 5px double black;
}

.sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 25px;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidebar a {
    font-weight: normal;
    padding: 6px 8px 6px 16px;
    text-align: center;
    text-decoration: none;
    color: #818181;
    display: block;
    transition: 0.2s;
}

.sidebar a:hover {
    color: white;
    font-weight: bold;
    border: 2px solid white;
}

.navbar {
    height: 50px;
    width: calc(100% - 200px);
    position: fixed;
    z-index: 1;
    top: 0;
    left: 200px;
    background-color: black;
    overflow-x: hidden;
    padding-top: 20px;
    border-left: 2px solid white;
}

.sidebar-right {
    width: 300px;
    height: calc(100% - 50px);
    margin-top: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: calc(100% - 300px);
    background-color: white;
    overflow-x: hidden;
    padding-top: 20px;
    padding-bottom: 20px;
    border-left: 2px solid black;
}

.center {
    display: flex;
    justify-content: center;
}

.main {
    width: calc(100% - 200px);
    height: calc(100% - 50px);
    margin-left: 200px;
    margin-top: 50px;
}

.main-search {
    width: calc(100% - 200px - 300px);
    height: calc(100% - 50px);
    margin-left: 200px;
    margin-right: 300px;
    margin-top: 50px;
    top: 100px;
    border-left: 2px solid white;
}

#house-description {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 5px;
}